@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.aniadido-float {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-family: 'Permanent Marker', cursive;
  font-size: 3.2rem;
  color: #111;
  text-shadow: 0 2px 6px #fff8, 0 1px 0 #fff;
  background: none;
  pointer-events: none;
  z-index: 10010;
  opacity: 1;
  /* animation: aniadidoPop 2.1s cubic-bezier(.7,-0.2,.7,1.2) forwards; */
}

@keyframes aniadidoPop {
  0% { opacity: 0; transform: translate(-50%, -50%) scale(0.7); }
  10% { opacity: 1; transform: translate(-50%, -50%) scale(1.1); }
  60% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  85% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  100% { opacity: 0; transform: translate(-50%, -80%) scale(0.7); }
}
